@using EmploymentServiceWebApp.Areas.Identity.Pages.Account.Manage;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}
<h1>Вакансія успішно створена</h1>
<p>Вітаємо! Ваша вакансія на посаду @Model успішно створена.</p>
<p>Щоб переглянути список всіх вакансій, перейдіть в особостий кабінет.</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />


