@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/news.css" asp-append-version="true" />
<h1>Новини</h1>
<hr />
<div class="row">
    <div class="col-6">
        <h3>Визначено переможців по урядовій програмі "Власна справа"</h3>
        <p>Визначено чергових переможців по урядовій програмі "Власна справа", 
            які подавали заяви на отримання мікрогрантів у період з 10 по 23 квітня поточного року. 
            Всього, з урахуванням доопрацьованих заяв попередніх періодів було ухвалено 323 позитивні 
            рішення на загальну суму майже 77 млн грн. Цього разу найбільше всього переможців з Львівської, 
            Київської, Рівненської, Вінницької областей та м. Києва. Передбачається, що переможці створять 727 нових робочих місць.
        </p>
        <p>12.05.2023</p>
        <br />
        <h3>На 1 мільярд гривень ухвалено рішень за програмою “Власна справа”</h3>
        <p>За програмою "Власна справа", яка діє в рамках урядового проєкту "єРобота" з липня минулого року, вже прийнято рішень на 1 млрд гривень.
        </p>
        <p>04.05.2023</p>
        <br />
    </div>
    <div class="col-6">
        <h3>Служба зайнятості допомагає учасникам бойових дій</h3>
        <p>Повернення ветеранів війни до мирного життя часто буває дуже не простим.
        </p>
        <p>16.05.2023</p>
        <br />
        <h3>Яких працівників потребують українські роботодавці сьогодні та яку зарплату готові платити?</h3>
        <p>В базі даних Державної служби зайнятості зареєстровано 36 тис. вакансій.
        </p>
        <p>10.05.2023</p>
        <br />
    </div>
</div>